.idea/*
target/
.Ds_Store
servlte-demo/build/classes/*.class
servlet-demo/build/classes/com/servlet/web/HelloForm.class
servlet-demo/build/classes/com/servlet/web/config/ReadDBConf.class
servlet-demo/build/classes/com/servlet/web/controller/DemoController.class
servlet-demo/build/classes/com/servlet/web/controller/QueryAllWordController.class
servlet-demo/build/classes/com/servlet/web/controller/QueryOneWordController.class
servlet-demo/build/classes/com/servlet/web/controller/QueryWordByPageController.class
servlet-demo/build/classes/com/servlet/web/dto/Word.class
servlet-demo/build/classes/com/servlet/web/service/WordService.class
servlet-demo/build/classes/com/servlet/web/utils/DbUtil.class

servlet-demo/.settings/.jsdtscope
servlet-demo/.settings/org.eclipse.core.resources.prefs
servlet-demo/.settings/org.eclipse.jdt.core.prefs
servlet-demo/.settings/org.eclipse.wst.common.component
servlet-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
servlet-demo/.settings/org.eclipse.wst.jsdt.ui.superType.container
servlet-demo/.settings/org.eclipse.wst.jsdt.ui.superType.name
